html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: #fff;
  text-decoration: none;
}

body {
  font-family: "Jost", sans-serif;
  min-width: 320px;
}

@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: local('Jost'),
  url("../fonts/Jost.woff2") format('woff2'),
  url("../fonts/Jost.woff") format('woff');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  width: 209px;
  height: 60px;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: #000;
  background: #95e82c;
  text-transform: uppercase;
  cursor: pointer;
}

/* --------------------------------------------------------------- */
.header-hello {
  padding: 50px 0 185px;
  background-image: url(../img/header-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header__container {
  display: flex;
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 60px;
}

.header__social {
  display: flex;
  margin-right: auto;
  align-items: center;
  gap: 20px;
}

.header__menu {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 50px;
  margin-right: 112px;

  list-style: none;
}

.header__item {
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
}

.header__link {
  color: #fff;
}

.header__phone {
  display: flex;
  align-items: center;
  padding-left: 30px;
  background-image: url(../img/phone-icon.svg);
  background-repeat: no-repeat;
  background-position: left center;
  color: #95E82C;
}

/* --------------------------------------------------------------- */

.hello__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hello__logo {
  width: 110px;
  margin-bottom: 60px;
}

.hello__title {
  margin: 0;
  margin-bottom: 14px;
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
  font-size: 55px;
  color: #fff;
}

.hello__title--green {
  color: #95e82c;
}

.hello__description {
  margin: 0;
  margin-bottom: 61px;
  text-transform: none;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.17;
  color: #fff;
}

/* --------------------------------------------------------------- */

.services {
  background-color: #F4F4F4;
}

.services__container {
  margin: 0 auto;
  padding: 100px 0;
  max-width: 1180px;
  width: 100%;
}

.services__title {
  margin: 0;
  margin-bottom: 60px;
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  line-height: 1.29;
  color: #000;
  text-transform: uppercase;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 20px;
  list-style: none;
}

.services__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

.services__item::before,
.services__item::after {
  content: "";
  position: absolute;
  width: 80px;
  background-size: cover;
}

.services__item::before {
  top: 0;
  height: 6px;
  background-color: #95E82C;
}

.services__item::after {
  bottom: 0;
  height: 12px;
  background-color: #95E82C;
}

.services__item--gym {
  background-image: url('../img/services-1.jpg');
}

.services__item--swim {
  background-image: url('../img/services-2.jpg');
}

.services__item--pilates {
  background-image: url('../img/services-3.jpg');
}

.services__item-title {
  position: absolute;
  top: 50%;
  text-align: center;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  color: #fff;
  text-transform: uppercase;
}

.services__price {
  position: absolute;
  top: 75%;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
}

.services__month {
  position: absolute;
  top: 82%;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #fff;
}

/* --------------------------------------------------------------- */

.about-club {
  background-color: #fff;
}

.about-club__container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 100px 0;
  max-width: 1180px;
  width: 100%;
}

.about-club__content {
  max-width: 680px;
  margin-right: 120px;
}

.about-club__title {
  margin: 0;
  margin-bottom: 17px;
  font-size: 55px;
  font-weight: 700;
  line-height: 1.18;
  color: #000;
  text-transform: uppercase;
}

.about-club__subtitle {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.87;
  color: #95e82c;
  text-transform: uppercase;
}

.about-club__descr {
  max-width: 680px;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.44;
  color: #444;
}

.about-club__statistic {
  display: flex;
  flex-direction: column;
}

.about-club__stat {
  display: flex;
  align-items: center;
}

.about-club__stat:not(:last-child) {
  padding-bottom: 35px;
}

.about-club__stat:not(:first-child) {
  padding-top: 35px;
}

.about-club__stat--bordered {
  border-top: 2px solid #95E82C;
  border-bottom: 2px solid #95E82C;
}

.about-club__stat-number {
  margin: 0;
  margin-right: 23px;
  font-size: 55px;
  font-weight: 400;
  line-height: 1.18;
  text-transform: uppercase;
  color: #000;
}

.about-club__stat-description {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #000;
}

/* --------------------------------------------------------------- */

.article {
  background-image: url('../img/article-backgroung.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.article__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 65px 0;
  max-width: 1180px;
  width: 100%;
}

.article__social {
  display: flex;
  gap: 10px;
  width: 200px;
  font-size: 0;
}

.article__icon {
  display: inline-block;
}

.article__logo {
  height: 150px;
}

/* --------------------------------------------------------------- */

.coaches {
  background-color: #fff;
}

.coaches__container {
  margin: 0 auto;
  padding: 100px 0;
  max-width: 1180px;
  width: 100%;
}

.coaches__title {
  margin: 0;
  margin-bottom: 60px;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  line-height: 1.29;
  color: #000;
  text-transform: uppercase;
}

.coaches__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  list-style: none;
}

.coaches__item {
  display: flex;
  width: 380px;
  border-left: 6px solid #95E82C;
  height: 120px;
  outline: 1px solid #DDDDDD;
}

.coaches__content {
  margin-right: auto;
  padding: 30px 0 25px 40px;
}

.coaches__name {
  margin: 0;
  margin-bottom: 17px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #000;
}

.coaches__exp {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: #999;
}

/* --------------------------------------------------------------- */

.reviews {
  background-color: #F4F4F4;
}

.reviews__container {
  padding: 100px 0 90px;
  margin: 0 auto;
  max-width: 1180px;
  width: 100%;
}

.reviews__title {
  margin: 0;
  margin-bottom: 60px;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  line-height: 1.29;
  color: #000;
  text-transform: uppercase;
}

.reviews__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  gap: 20px;
  list-style: none;
}

.reviews__item {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 380px;
  background-color: #fff;
}

.reviews__item-content {
  padding: 30px;
}

.reviews__stars {
  display: flex;
  justify-content: space-between;
  width: 96px;
  height: 16px;
  margin-bottom: 23px;
}

.reviews__descr {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #444;
}

.reviews__people {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 330px;
  height: 60px;
  padding-left: 80px;
  background-repeat: no-repeat;
}

.reviews__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

.reviews__age {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #999;
}

.reviews__people--ekaterina {
  background-image: url(../img/reviews-pep-1.jpg);
}

.reviews__people--yaroslav {
  background-image: url(../img/reviews-pep-2.jpg);
}

.reviews__people--maria {
  background-image: url(../img/reviews-pep-3.jpg);
}

/* --------------------------------------------------------------- */

.news {
  background-color: #fff;
}

.news__container {
  margin: 0 auto;
  max-width: 1180px;
  width: 100%;
  padding: 100px 0 125px;
}

.news__title {
  margin: 0;
  margin-bottom: 60px;
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  line-height: 1.29;
  text-transform: uppercase;
  color: #000;
}

.news__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
}

.news__item {
  width: 380px;
  background-repeat: no-repeat;
  background-size: contain;
}

.news__content {
  padding-top: 260px;
}

.news__item--closed {
  background-image: url(../img/news-1.jpg);
}

.news__item--sale {
  background-image: url(../img/news-2.jpg);
}

.news__item--info {
  background-image: url(../img/news-3.jpg);
}

.news__date {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #999;
}

.news__descr {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.25;
  color: #000;
}

/* --------------------------------------------------------------- */

.footer {
  background-color: #000;
}

.footer__container {
  margin: 0 auto;
  padding: 83px 0 58px;
  max-width: 1180px;
  width: 100%;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 75px;
}

.footer__logo {
  height: 60px;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 365px;
  list-style: none;
}
.footer__group {
  display: flex;
  flex-direction: column;
  height: 60px;
}

.footer__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
}

.footer__item:not(:last-child) {
  margin-bottom: 20px;
}

.footer__link {
  color: #fff;
  text-decoration: none;
}

.footer__phone-social {
  display: flex;
  flex-direction: column;
}

.footer__phone {
  margin-bottom: 20px;
  padding-left: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
  text-transform: uppercase;
  color: #95e82c;
  background-image: url(../img/phone-icon.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.footer__phone-link {
  color: #95e82c;
  text-decoration: none;
}

.footer__social {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__icon {
  display: inline-block;
  height: 20px;
}

.footer__info {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #666;
}

.footer__info-text {
  margin: 0;
}

.footer__info-text:not(:last-child) {
  margin-right: 86px;
}

.footer__info-text:last-child {
  margin-left: auto;
}
